{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": 0
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ignore": [
    "node_modules"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}